


* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration:none;
    border:none;
    outline:none;
    scroll-behavior:smooth;
    font-family:"poppins",sans-serif
}
:root{
    --bg-color:#141414;
    --second-bg-color:#191919;
    --text-color:white;
    --main-color:limegreen;
    --second-color: green;
}
html{
    font-size:62.5%;
    overflow-x:hidden;
}
body{
    background-color: var(--bg-color);
    color:var(--text-color)
}

header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    padding:3em 5%;
    background:rgba(0, 0, 0, 0.8);
    backdrop-filter:blur(20px);
    display:flex;
    align-items:center;
    justify-content:space-between;
    z-index:100;
}
.logo{
font-size:3rem;
color:var(--text-color);
font-weight:800;
cursor:pointer;
transition:0.3s ease;
}

.logo:hover{
    transform:scale(1.1)
}

.navbar a{
    font-size:1.8rem;
    color:white;
    margin-left:4rem;
    font-weight:500;
    transition:0.3s ease;
    border-bottom: 3px solid transparent
}

.navbar a:hover,.navbar a.active{
    color:var(--main-color);
    border-bottom:2px solid var(--main-color);
    text-shadow:0 0 25px var(--main-color),
                0 0 50px var(--main-color)
}


#menu-icon{
    font-size:3.6rem;
    color: var(--main-color);
    display:none
}
section{
    min-height:100vh;
    padding:10rem 9% 10rem
}

.home{
    display:flex;
    align-items: center;
}

.home-content h3{
font-size: 3.2rem;
font-weight:700
}

span{
    color:var(--main-color)
}
.logo span{
   text-shadow:0 0 25px var(--main-color),
                0 0 50px var(--main-color) 
}


.home-content h3:nth-of-type(2){
    margin-bottom:3rem;
    font-size:5rem;
}

.home-content h1{
    font-size:8rem;
    font-weight:700;
    line-height:1.3
}

.home-img{
    border-radius:50%
}

.home-img img{
    position:relative;
    width:32rem;
    border-radius:50%;
    cursor:pointer;
}

.home-content p{
    font-size:1.8rem;
    font-weight:500 
}

.social-icons a{
    display: inline-flex;
    justify-content:center;
    align-items: center;
    width:4rem;
    height:4rem;
    background:transparent;
    border: 0.2 solid var(--main-color);
    font-size:2rem;
    border-radius:50%;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition:0.3s ease;
}

.social-icons a:hover{
    color:white;
    transform: scale(1.3) translateY(-5px);
    background-color: var(--main-color);
    box-shadow: 0 0 25 var(var(--main-color))
}

.btn{
    display:inline-block;
    padding:1rem 2.8rem;
    background:var(--main-color);
    border-radius:4rem;
    font-size:1.6rem;
    color:white;
    border:2px solid transparent;
    letter-spacing:0.1rem;
    font-weight:600;
    transition: 0.3s ease;
    cursor:pointer;
}
.btn:hover{
    box-shadow: 0 0 25px var(--main-color);
    transform:scale(1.05)
}

.text-animation{
    font-size:35px;
    font-weight:600;
    min-width:280px
}
.text-animation span{
    position:relative
}
.text-animation span::before{
    content:"Full stacker";
    color:var(--main-color);
    animation: words 20s infinite
}

.text-animation span::after{
    content: "";
    background-color: var(--bg-color);
    position:absolute;
    width:calc(100% + 8px);
    height:100%;
    border: 2px solid #333;
    right:-8px;
    animation: cursor 0.6s infinite,typing 20s steps(14) infinite;
}

@keyframes cursor{
    to{
        border-left: 2px solid var(--main-color)
    }
}

@keyframes words{
    0%,
    20%{
        content:"Web"
    }
    21%,
    40%{
        content:"Web"
    }
    41%,
    60%{
        content: "Software"
    }
    61%,
    80%{
        content:"Software"
    }
    81%,
    100%{
        content:"Software"
    }
}


@keyframes typing{
    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95%{ 
        width:0
    }

    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%,
    80%,
    85%{
        width: calc(100% + 8px)
    }
}


.about{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:10rem;
    background:var(--second-bg-color)
}
.about-img{
    border-radius:50%
}

.about-img img{
    position:relative;
    width:30vw;
    border-radius:50%;
    cursor:pointer
}

.heading{
    text-align:center;
    font-size:8rem
}

.about-content h2{
    text-align:left;
    line-height:1.5;
}
.about-content h3{
    font-size:2.6rem;
}
.about-content p{
    font-size: 1.6rem;
    margin:2rem 0 3rem
}


.about-content .text-animation span::before{
    content:"Full stacker";
    color:var(--main-color);
    animation: words 20s infinite
}

.about-content .text-animation span::after{
    content: "";
    background-color: var(--second-bg-color);
    position:absolute;
    width:calc(100% + 8);
    height:100%;
    border: 2px solid #333;
    right:-8px;
    animation: cursor 0.6s infinite,typing 20s steps(14) infinite;
}

.services h2{
    margin-bottom:5rem;
}

.service-container{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-wrap:wrap;
    gap:2rem;
}


.service-container .service-box{
    flex:1 1 40rem;
    background:var(--second-bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: 0.2rem solid var(--bg-color);
    cursor:pointer;
    transition: 0.4s ease;
}

.service-container .service-box:hover{
    border-color: var(--main-color);
    transform: scale(1.02);
    background-color: white;
    color: black;
}
.service-box i{
    font-size: 7rem;
    color: var(--main-color);
}

.service-box p{
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}

::-webkit-scrollbar{
    width: 15px;

}

::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
}

::-webkit-scrollbar-track{
    background-color: #1d1d1d;
    width:50px
}

.projects{
    background: var(--second-bg-color)
}

.projects h2{
    margin-bottom: 5rem;
}

.project-container{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap:2.5rem
}

.project-container .project-box{
    position:relative;
    border-radius:2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow:hidden;
    display:flex;
}

.project-box img{
    width: 100%;
    transition:0.5s ease;
}

.project-box:hover{
    transform: scale(1.1)

}

.project-box .project-info{
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    cursor: pointer;
    transition: 0.5s ease;

}

.project-box .project-info:hover{
    background: radial-gradient(rgba(0,0,0,0.5)),var(--main-color);
    transform:scale(1.1)
}

.project-info h4{
    font-size:3rem;
    color: white;
    font-weight:800;
}

.project-info p{
    font-size:1.6rem;
    margin: 0.3rem 0 0.3rem;
    font-weight: 600;
}

.project-info a{
    color: white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width:5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
}

.prject-info a i{
    font-size: 3rem;
    color: var(--main-color);
}
.skills h2{
    margin-bottom: 2rem
}

.skills{
    margin: auto;
}

.skill-bars{
    padding: 25px 30px;
    background: var(--second-bg-color);
    border-radius: 10px;
    display:flex;
    flex-direction: column;
    gap: 3rem;
}

.skill-bars bar{
margin:20px 0
}


.skill-bars .bar:first-child{
    margin-top: 0;
}

.skill-bars .bar .info{
    margin-bottom: 5px;
}


.skill-bars .bar .info span{
    color: white;
    font-weight:500;
    font-size: 17px;
}


.skill-bars .bar .progess-line{
    width: 100%;
    height: 10px;
    background: white;
    position: relative;
    border-radius: 10px;
}

.bar .progess-line span{
    height:100%;
    position: absolute;
    border-radius: 10px;
    background: #0077ff;
    cursor: pointer;
}

.bar .progess-line.javascript span{
    width:100%;
    background-color: var(--second-color);
    box-shadow: 0 0 25px grey;
    transition: 0.3s ease;
}

.bar .progess-line.javascript span:hover{
    box-shadow: 0 0 25px var(--second-color),
                0 0 50px  var(--second-color);
}



.bar .progess-line.react span{
    width:90%;
    background-color: var(--second-color);
    box-shadow: 0 0 25px  var(--second-color);
    transition: 0.3s ease;
}

.bar .progess-line.react span:hover{
    box-shadow: 0 0 25px  var(--second-color),
                0 0 50px   var(--second-color)
}


.bar .progess-line.html span{
    width:100%;
    background-color: var(--second-color);
    box-shadow: 0 0 25px var(--second-color);
    transition: 0.3s ease;
}

.bar .progess-line.html span:hover{
    box-shadow: 0 0 25px var(--second-color),
                0 0 50px  var(--second-color);
}


.bar .progess-line.sass span{
    width:70%;
    background-color: var(--second-color);
    box-shadow: 0 0 25px var(--second-color);
    transition: 0.3s ease;
}

.bar .progess-line.sass span:hover{
    box-shadow: 0 0 25px var(--second-color),
                0 0 50px  var(--second-color);
}


.bar .progess-line.express span{
    width:80%;
    background-color: var(--second-color);
    box-shadow: 0 0 25px var(--second-color);
    transition: 0.3s ease;
}

.bar .progess-line.express span:hover{
    box-shadow: 0 0 25px var(--second-color),
                0 0 50px  var(--second-color);
}

.bar .progess-line.mangodb span{
    width:70%;
    background-color: var(--second-color);
    box-shadow: 0 0 25px var(--second-color);
    transition: 0.3s ease;
}

.bar .progess-line.progess-line.mangodb span:hover{
    box-shadow: 0 0 25px var(--second-color),
                0 0 50px  var(--second-color);
}

.bar .progess-line.css span{
    width:75%;
    background-color: var(--second-color);
    box-shadow: 0 0 25px var(--second-color);
    transition: 0.3s ease;
}

.bar .progess-line.css span:hover{
    box-shadow: 0 0 25px var(--second-color),
                0 0 50px  var(--second-color);
}

.bar .progess-line.rest-api span{
    width:80%;
    background-color: var(--second-color);
    box-shadow: 0 0 25px var(--second-color);
    transition: 0.3s ease;
}

.bar .progess-line.rest-api span:hover{
    box-shadow: 0 0 25px var(--second-color),
                0 0 50px  var(--second-color);
}

.bar .progess-line.python span{
    width:85%;
    background-color: var(--second-color);
    box-shadow: 0 0 25px var(--second-color);
    transition: 0.3s ease;
}

.bar .progess-line.python span:hover{
    box-shadow: 0 0 25px var(--second-color),
                0 0 50px  var(--second-color);
}

.bar .progess-line.postgreSQL span{
    width:90%;
    background-color: var(--second-color);
    box-shadow: 0 0 25px var(--second-color);
    transition: 0.3s ease;
}

.bar .progess-line.postgreSQL span:hover{
    box-shadow: 0 0 25px var(--second-color),
                0 0 50px  var(--second-color);
}


.contacts{
    background-color: var(--second-bg-color);

}
.contacts h2{
    margin-bottom:3rem;
}

.contacts form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contacts form .input-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.contacts form .input-box input,.contacts form textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.5rem;
    color: var(--text-color);
    background: var(--bg-color);
    border-radius: 0.8rem;
    margin: 1rem 0;
    resize: none;
}

.contacts form .btn{
    margin-top: 2rem;
}

.footer{
    position: relative;
    bottom:0;
    width: 100%;
    padding: 40px 0;
    background-color: var(--main-color);
}
.footer .socials{
    text-align: center;
    padding-bottom: 25px;
    color: white;

}

.footer .socials a{
    font-size: 25px;
    color:white;
    border: 2px solid white;
    width: 42px;
    height: 42px;
    line-height:43px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 10px;
}

.footer .socials a:hover{
    transform: scale(1.2) translateY(-10px);
}

.footer ul{
    margin-top: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}
 
.footer ul li a{
    color: white;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}

.footer ul li a:hover{
    border-bottom: 3px solid white
}

.footer ul li {
    display: inline-block;
    padding: 0 15px;
}

.footer .copyright{
    margin-top: 50px;
    text-align: center;

}

.sub-heading{
  font-size: 3rem;
  text-align: center;
  margin: 4rem 0 2rem;
  color: var(--main-color);
  font-weight: 700;
}

.project-container{
  margin-bottom: 6rem;
}